* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}


.carousel-inner img{
    height: 5%;
    width: auto;
}

.planos {
    margin-top: 2%;
}

.precos {
    margin-top: 1%;
}

.avaliacoes {
    margin-left: 1%;
}

.avaliacoes h1{
    text-align: center;
    margin-bottom: 5%;
}

.btn {
    width: 100%;
    height: auto;
}

footer {
    margin-top: 5%;
}

footer a {
    text-decoration: none;
}
